
  <ul>
     <% @files.each do |file| %>

      <li>
        <a href = "/<%= file %>"> <%= file %>
        <a href = "/edit/<%= file %>"> - edit
      </li>

    <% end %>
  </ul>

  <a href = "/create/doc"> New Document
