<form action="/users/validate" method="post">
  username: <input type="text" name="username" value=<%= params["username"] %> ><br>
  password: <input type="text" name="password"><br>
  <input type="submit" value="Sign In">
</form>
